# Features to replace fl_date

In [4]:
import sys
sys.path.append("../..")  # <-  This should point to the root directory of the project relative to this file

from custom_scripts import database
from custom_scripts import preprocessing

from scipy import stats
sample_number = 1000
flights_query =  f"""
                SELECT * FROM flights ORDER BY RANDOM() LIMIT '{sample_number}';
                """

flights = database.query(flights_query)
flights.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2018-12-21,AA,AA_CODESHARE,AA,5486,OH,N537EA,5486,11996,GSP,...,515.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None
1,2019-10-02,AA,AA_CODESHARE,AA,3382,MQ,N673AE,3382,13303,MIA,...,802.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None
2,2019-06-17,B6,B6,B6,1166,B6,N645JB,1166,12954,LGB,...,387.0,8.0,0.0,0.0,0.0,8.0,None,NaN,NaN,None
3,2018-09-18,WN,WN,WN,1515,WN,N413WN,1515,14122,PIT,...,2136.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None
4,2019-06-06,NK,NK,NK,214,NK,N521NK,214,12889,LAS,...,1055.0,0.0,0.0,50.0,0.0,0.0,None,NaN,NaN,None

In [5]:
import pandas as pd


flights['day_of_year'] = pd.to_datetime(flights['fl_date']).dt.dayofyear
flights['day_of_week'] = pd.to_datetime(flights['fl_date']).dt.dayofweek

In [6]:
flights.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name,day_of_year,day_of_week
0,2018-12-21,AA,AA_CODESHARE,AA,5486,OH,N537EA,5486,11996,GSP,...,NaN,NaN,NaN,NaN,None,NaN,NaN,None,355,4
1,2019-10-02,AA,AA_CODESHARE,AA,3382,MQ,N673AE,3382,13303,MIA,...,NaN,NaN,NaN,NaN,None,NaN,NaN,None,275,2
2,2019-06-17,B6,B6,B6,1166,B6,N645JB,1166,12954,LGB,...,0.0,0.0,0.0,8.0,None,NaN,NaN,None,168,0
3,2018-09-18,WN,WN,WN,1515,WN,N413WN,1515,14122,PIT,...,NaN,NaN,NaN,NaN,None,NaN,NaN,None,261,1
4,2019-06-06,NK,NK,NK,214,NK,N521NK,214,12889,LAS,...,0.0,50.0,0.0,0.0,None,NaN,NaN,None,157,3