In [1]:
import sys
sys.path.append("..")  # <-  This should point to the root directory of the project relative to this file

from custom_scripts import database
from custom_scripts import preprocessing

In [4]:
example_query =  """
                SELECT * FROM flights
                    LIMIT 10;
                """

example = database.query(example_query)

In [5]:
example

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2018-04-15,AA,AA,AA,2460,AA,N132AN,2460,11298,DFW,...,1235.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None
1,2018-04-15,AA,AA,AA,2460,AA,N132AN,2460,12892,LAX,...,1235.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None
2,2018-04-15,AA,AA,AA,2461,AA,N968NN,2461,13303,MIA,...,919.0,0.0,61.0,0.0,0.0,0.0,None,NaN,NaN,None
3,2018-04-15,AA,AA,AA,2462,AA,N828AA,2462,12892,LAX,...,1235.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None
4,2018-04-15,AA,AA,AA,2463,AA,N190AA,2463,14100,PHL,...,1013.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None
5,2018-04-15,AA,AA,AA,2464,AA,N810NN,2464,13204,MCO,...,192.0,0.0,186.0,0.0,0.0,72.0,1850.0,67.0,67.0,None
6,2018-04-15,AA,AA,AA,2464,AA,N810NN,2464,13303,MIA,...,192.0,0.0,0.0,5.0,0.0,73.0,None,NaN,NaN,None
7,2018-04-15,AA,AA,AA,2465,AA,N995AN,2465,13204,MCO,...,985.0,35.0,0.0,0.0,0.0,0.0,None,NaN,NaN,None
8,2018-04-15,AA,AA,AA,2466,AA,N952NN,2466,13204,MCO,...,985.0,73.0,0.0,4.0,0.0,0.0,None,NaN,NaN,None
9,2018-04-15,AA,AA,AA,2467,AA,N922AN,2467,11298,DFW,...,802.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None

In [6]:
flights = preprocessing.get_training_flight_data()
print(flights.shape)
flights.head()

(1202587, 13)

,fl_date,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,dest_airport_id,crs_dep_time,crs_arr_time,crs_elapsed_time,dup,flights,distance,arr_delay
0,2018-01-01,9E,N292PQ,3468,15380,11433,615,738,83.0,N,1.0,207.0,-17.0
1,2018-01-01,9E,N931XJ,3507,10431,10397,615,724,69.0,N,1.0,164.0,49.0
2,2018-01-01,9E,N916XJ,3508,11433,14122,1200,1318,78.0,N,1.0,201.0,-15.0
3,2018-01-01,9E,N937XJ,3512,14122,11433,1330,1455,85.0,N,1.0,201.0,15.0
4,2018-01-01,9E,N316PQ,3513,10397,11995,1500,1618,78.0,N,1.0,306.0,-12.0