In [1]:
import sys
sys.path.append("..")  # <-  This should point to the root directory of the project relative to this file

from custom_scripts import database
from custom_scripts import preprocessing
from custom_scripts import modeling

In [2]:
example_query =  """
                SELECT * FROM flights
                    LIMIT 10;
                """

example = database.query(example_query)

In [3]:
example

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2019-03-31,UA,UA_CODESHARE,UA,3697,YX,N633RW,3697,12266,IAH,...,1075.0,NaN,NaN,NaN,NaN,NaN,None,None,None,None
1,2019-03-31,UA,UA_CODESHARE,UA,3699,YX,N743YX,3699,11193,CVG,...,264.0,NaN,NaN,NaN,NaN,NaN,None,None,None,None
2,2019-03-31,UA,UA_CODESHARE,UA,3700,YX,N863RW,3700,13930,ORD,...,409.0,NaN,NaN,NaN,NaN,NaN,None,None,None,None
3,2019-03-31,UA,UA_CODESHARE,UA,3701,YX,N726YX,3701,13930,ORD,...,646.0,NaN,NaN,NaN,NaN,NaN,None,None,None,None
4,2019-03-31,UA,UA_CODESHARE,UA,3702,YX,N635RW,3702,13487,MSP,...,334.0,NaN,NaN,NaN,NaN,NaN,None,None,None,None
5,2019-03-31,UA,UA_CODESHARE,UA,3703,YX,N635RW,3703,13930,ORD,...,409.0,NaN,NaN,NaN,NaN,NaN,None,None,None,None
6,2019-03-31,UA,UA_CODESHARE,UA,3704,YX,N637RW,3704,14122,PIT,...,413.0,NaN,NaN,NaN,NaN,NaN,None,None,None,None
7,2019-03-31,UA,UA_CODESHARE,UA,3706,YX,N861RW,3706,11618,EWR,...,645.0,NaN,NaN,NaN,NaN,NaN,None,None,None,None
8,2019-03-31,UA,UA_CODESHARE,UA,3708,YX,N729YX,3708,13930,ORD,...,334.0,0.0,0.0,27.0,0.0,0.0,None,None,None,None
9,2019-03-31,UA,UA_CODESHARE,UA,3709,YX,N638RW,3709,13930,ORD,...,296.0,NaN,NaN,NaN,NaN,NaN,None,None,None,None

In [4]:
flights = preprocessing.get_training_flight_data()
print(flights.shape)
flights.head(1)

(1202587, 13)

,fl_date,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,dest_airport_id,crs_dep_time,crs_arr_time,crs_elapsed_time,dup,flights,distance,arr_delay
0,2018-01-01,OH,N720PS,5496,11278,13296,2215,2340,85.0,N,1.0,406.0,1.0

In [5]:
flights.isna().sum()

fl_date              0
op_unique_carrier    0
tail_num             0
op_carrier_fl_num    0
origin_airport_id    0
dest_airport_id      0
crs_dep_time         0
crs_arr_time         0
crs_elapsed_time     0
dup                  0
flights              0
distance             0
arr_delay            0
dtype: int64