In [1]:
import sys
sys.path.append("../..") 

from custom_scripts import database
from custom_scripts import preprocessing

In [3]:
### Table of unique carrier identifiers present in the test samples, and a count of their frequency
carriers = database.query(""" 
                            SELECT op_unique_carrier, COUNT(*)
                                FROM flights_test
                                WHERE fl_date = ANY('{2020-01-01, 2020-01-02, 2020-01-03, 2020-01-04, 2020-01-05, 2020-01-06, 2020-01-07}')
                                GROUP BY op_unique_carrier;
                            """)
carriers.to_csv('../../data/preprocessing/unique_carriers.csv', index=False)
carriers.head(1)

  op_unique_carrier  count
0                9E   4942

In [4]:
### Table of flight numbers present in the test samples, and a count of their frequency
test_flight_numbers = database.query("""
                                SELECT op_carrier_fl_num, COUNT(*) 
                                    FROM flights_test
                                    WHERE fl_date = ANY('{{2020-01-31, 2020-01-30, 2020-01-29, 2020-01-28, 2020-01-27, 2020-01-26, 2020-01-25}}')
                                    GROUP BY op_carrier_fl_num;
                                """)
test_flight_numbers.to_csv('../../data/preprocessing/test_flight_numbers.csv', index=False)
test_flight_numbers.head(1)

   op_carrier_fl_num  count
0               6114     14

In [2]:
### Table of historic averages grouped by flight number
averages_by_flight = preprocessing.create_average_table('op_carrier_fl_num','fl_num')
averages_by_flight.to_csv('../../data/preprocessing/averages_by_fl_num.csv', index=False)
averages_by_flight.head(1)

,op_carrier_fl_num,fl_num_avg_dep_delay,fl_num_avg_taxi_out,fl_num_avg_wheels_off,fl_num_avg_wheels_on,fl_num_avg_taxi_in,fl_num_avg_arr_delay,fl_num_avg_crs_elapsed_time,fl_num_avg_actual_elapsed_time,fl_num_avg_air_time,fl_num_avg_carrier_delay,fl_num_avg_weather_delay,fl_num_avg_nas_delay,fl_num_avg_security_delay,fl_num_avg_late_aircraft_delay,fl_num_avg_total_add_gtime,fl_num_avg_longest_add_gtime
0,1,2.7734,16.922582,858.495249,1063.479598,8.920347,-5.716606,262.095996,256.171661,230.33492,24.254237,1.391949,12.355932,0.254237,6.618644,22.192308,22.192308