In [1]:
import sys
sys.path.append("../..") 

from custom_scripts import database
from custom_scripts import preprocessing

In [14]:
### Table of unique carrier identifiers present in the test samples, and a count of their frequency
carriers = database.query(""" 
                            SELECT op_unique_carrier, COUNT(*)
                                FROM flights_test
                                WHERE fl_date = ANY('{2020-01-01, 2020-01-02, 2020-01-03, 2020-01-04, 2020-01-05, 2020-01-06, 2020-01-07}')
                                GROUP BY op_unique_carrier;
                            """)
carriers.to_csv('../../data/preprocessing/unique_carriers.csv', index=False)
carriers.head(1)

  op_unique_carrier  count
0                9E   4942

In [2]:
### Table of flight numbers present in the test samples, and a count of their frequency
test_flight_numbers = database.query("""
                                SELECT op_carrier_fl_num, COUNT(*) 
                                    FROM flights_test
                                    WHERE fl_date = ANY('{{2020-01-01, 2020-01-02, 2020-01-03, 2020-01-04, 2020-01-05, 2020-01-06, 2020-01-07}}')
                                    GROUP BY op_carrier_fl_num;
                                """)
test_flight_numbers.to_csv('../../data/preprocessing/test_flight_numbers.csv', index=False)
test_flight_numbers.head(1)

   op_carrier_fl_num  count
0               1489     44

In [16]:
### Table of historic averages grouped by flight number
averages_by_flight = preprocessing.create_average_table('op_carrier_fl_num','fl_num',-60, 120)
averages_by_flight.to_csv('../../data/preprocessing/averages_by_fl_num.csv', index=False)
averages_by_flight.head(1)

,op_carrier_fl_num,fl_num_avg_dep_delay,fl_num_avg_taxi_out,fl_num_avg_wheels_off,fl_num_avg_wheels_on,fl_num_avg_taxi_in,fl_num_avg_arr_delay,fl_num_avg_crs_elapsed_time,fl_num_avg_actual_elapsed_time,fl_num_avg_air_time,fl_num_avg_carrier_delay,fl_num_avg_weather_delay,fl_num_avg_nas_delay,fl_num_avg_security_delay,fl_num_avg_late_aircraft_delay,fl_num_avg_total_add_gtime,fl_num_avg_longest_add_gtime
0,1,1.40402,16.803228,855.001982,1058.764156,8.916195,-7.085504,264.488675,255.999151,230.279728,18.476404,0.916854,11.844944,0.269663,3.946067,16.333333,16.333333

In [17]:
### Table of historic averages grouped by tail number
averages_by_flight = preprocessing.create_average_table('tail_num','tail_num', -60, 120)
averages_by_flight.to_csv('../../data/preprocessing/averages_by_tail_num.csv', index=False)
averages_by_flight.head(1)

,tail_num,tail_num_avg_dep_delay,tail_num_avg_taxi_out,tail_num_avg_wheels_off,tail_num_avg_wheels_on,tail_num_avg_taxi_in,tail_num_avg_arr_delay,tail_num_avg_crs_elapsed_time,tail_num_avg_actual_elapsed_time,tail_num_avg_air_time,tail_num_avg_carrier_delay,tail_num_avg_weather_delay,tail_num_avg_nas_delay,tail_num_avg_security_delay,tail_num_avg_late_aircraft_delay,tail_num_avg_total_add_gtime,tail_num_avg_longest_add_gtime
0,215NV,5.977447,12.933694,1332.173658,1523.9788,6.639152,2.966171,145.368065,142.356788,122.783942,12.825607,2.551876,8.770419,0.128035,20.728477,19.166667,19.166667

In [18]:
### Table of historic averages grouped by origin
averages_by_flight = preprocessing.create_average_table('origin','origin', -60, 120)
averages_by_flight.to_csv('../../data/preprocessing/averages_by_origin.csv', index=False)
averages_by_flight.head(1)

,origin,origin_avg_dep_delay,origin_avg_taxi_out,origin_avg_wheels_off,origin_avg_wheels_on,origin_avg_taxi_in,origin_avg_arr_delay,origin_avg_crs_elapsed_time,origin_avg_actual_elapsed_time,origin_avg_air_time,origin_avg_carrier_delay,origin_avg_weather_delay,origin_avg_nas_delay,origin_avg_security_delay,origin_avg_late_aircraft_delay,origin_avg_total_add_gtime,origin_avg_longest_add_gtime
0,ABE,2.391739,15.14863,1218.193369,1340.514235,10.738992,-1.203095,118.085411,114.491424,88.603802,7.924478,2.126406,13.790573,0.033208,20.425281,31.086957,31.086957

In [19]:
### Table of historic averages grouped by dest
averages_by_flight = preprocessing.create_average_table('dest','dest', -60, 120)
averages_by_flight.to_csv('../../data/preprocessing/averages_by_dest.csv', index=False)
averages_by_flight.head(1)

,dest,dest_avg_dep_delay,dest_avg_taxi_out,dest_avg_wheels_off,dest_avg_wheels_on,dest_avg_taxi_in,dest_avg_arr_delay,dest_avg_crs_elapsed_time,dest_avg_actual_elapsed_time,dest_avg_air_time,dest_avg_carrier_delay,dest_avg_weather_delay,dest_avg_nas_delay,dest_avg_security_delay,dest_avg_late_aircraft_delay,dest_avg_total_add_gtime,dest_avg_longest_add_gtime
0,ABE,4.555672,19.952843,1506.436308,1618.58399,4.899563,-0.370691,106.267017,101.343045,76.490639,14.63708,2.88708,9.990021,0.034664,17.721639,30.02381,30.02381

In [20]:
### Table of historic averages grouped by op_unique_carrier
averages_by_flight = preprocessing.create_average_table('op_unique_carrier','carrier', -60, 120)
averages_by_flight.to_csv('../../data/preprocessing/averages_by_carrier.csv', index=False)
averages_by_flight.head(1)

,op_unique_carrier,carrier_avg_dep_delay,carrier_avg_taxi_out,carrier_avg_wheels_off,carrier_avg_wheels_on,carrier_avg_taxi_in,carrier_avg_arr_delay,carrier_avg_crs_elapsed_time,carrier_avg_actual_elapsed_time,carrier_avg_air_time,carrier_avg_carrier_delay,carrier_avg_weather_delay,carrier_avg_nas_delay,carrier_avg_security_delay,carrier_avg_late_aircraft_delay,carrier_avg_total_add_gtime,carrier_avg_longest_add_gtime
0,9E,3.527063,21.095373,1353.281707,1462.158306,7.321665,-3.482101,108.660907,101.701538,73.2845,11.196003,1.541798,14.983981,0.017659,19.532435,23.00463,22.935185