In [1]:
import sys
sys.path.append("..")  # <-  This should point to the root directory of the project relative to this file

from custom_scripts import database
from custom_scripts import preprocessing

In [2]:
example_query =  """
                SELECT * FROM flights
                    LIMIT 10;
                """

example = database.query(example_query)

In [3]:
example

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2018-04-16,NK,NK,NK,1068,NK,N637NK,1068,14747,SEA,...,867.0,NaN,NaN,NaN,NaN,NaN,None,None,None,None
1,2018-04-16,NK,NK,NK,1069,NK,N651NK,1069,11042,CLE,...,1824.0,0.0,0.0,65.0,0.0,0.0,None,None,None,None
2,2018-04-16,NK,NK,NK,1069,NK,N651NK,1069,12889,LAS,...,867.0,0.0,0.0,69.0,0.0,0.0,None,None,None,None
3,2018-04-16,NK,NK,NK,107,NK,N529NK,107,11298,DFW,...,1171.0,0.0,0.0,64.0,0.0,0.0,None,None,None,None
4,2018-04-16,NK,NK,NK,1076,NK,N527NK,1076,11697,FLL,...,581.0,NaN,NaN,NaN,NaN,NaN,None,None,None,None
5,2018-04-16,NK,NK,NK,1077,NK,N527NK,1077,10397,ATL,...,581.0,0.0,0.0,39.0,0.0,0.0,None,None,None,None
6,2018-04-16,NK,NK,NK,108,NK,N529NK,108,14679,SAN,...,1171.0,0.0,0.0,34.0,0.0,0.0,None,None,None,None
7,2018-04-16,NK,NK,NK,109,NK,N503NK,109,10721,BOS,...,632.0,0.0,0.0,123.0,0.0,0.0,None,None,None,None
8,2018-04-16,NK,NK,NK,110,NK,N516NK,110,11433,DTW,...,632.0,NaN,NaN,NaN,NaN,NaN,None,None,None,None
9,2018-04-16,NK,NK,NK,111,NK,N521NK,111,11433,DTW,...,1749.0,NaN,NaN,NaN,NaN,NaN,None,None,None,None

Find the top 10 the bussiest airports. Does the biggest number of flights mean that the biggest number of passengers went through the particular airport? How much traffic do these 10 airports cover?

In [20]:
#find the airports of interest.
SQL = """SELECT origin_airport_id 
FROM flights
WHERE fl_date between '2019-01-01' and '2019-01-31';"""
sql = database.query(SQL)

In [21]:
sql

        origin_airport_id
0                   13577
1                   14027
2                   15074
3                   11057
4                   13360
...                   ...
638644              13303
638645              11066
638646              11624
638647              13303
638648              11433

[638649 rows x 1 columns]