In [1]:
import sys
sys.path.append("..")  # <-  This should point to the root directory of the project relative to this file

from custom_scripts import database
from custom_scripts import preprocessing

In [2]:
example_query =  """
                SELECT taxi_out, taxi_in FROM flights
                    LIMIT 10;
                """

example = database.query(example_query)

In [33]:
example

   taxi_out  taxi_in
0      13.0     10.0
1      16.0      3.0
2      20.0      5.0
3      29.0      5.0
4      16.0      9.0
5      14.0      4.0
6      24.0      6.0
7      13.0     15.0
8      30.0     25.0
9      21.0      5.0

Find the top 10 the bussiest airports. Does the biggest number of flights mean that the biggest number of passengers went through the particular airport? How much traffic do these 10 airports cover?

In [3]:
import pandas as pd

In [ ]:
SQL = """SELECT flights.origin, flights.flights, COUNT(passengers.passengers) as pass_total
FROM flights
JOIN passengers
ON flights.dest_airport_id = passengers.dest_airport_id
WHERE fl_date between '2019-01-01' and '2019-01-31'
GROUP BY flights.origin, flights.flights
ORDER BY pass_total"""

passenger_num = database.query(SQL)

In [ ]:
passenger_num

In [28]:
#find the airports of interest.

SQL = """SELECT origin, COUNT(origin) as city_count 
FROM flights
WHERE fl_date between '2019-01-01' and '2019-01-31'
GROUP BY origin
ORDER BY city_count DESC """
sql = database.query(SQL)

In [31]:
sql.to_csv('bussiest_airports.csv', index = False)